// main bg color
$color-bg-startup: #2E5587;

// general font color
$color-font: #FFFFFF;
$color-font-shadow: rgba(0, 0, 0, 0.2);

// the phases
$color-bg-shooting: #198031;
$color-bg-shooting-30: #BA9936;
$color-bg-steady: #87181B;
$color-bg-stop: #87181B;

// the countdown
$color-font-countdown: #FFFFFF;
$color-font-countdown-shadow: rgba(0, 0, 0, 0.2);

// the target display
$color-bg-target-active: #FFFFFF;
$color-bg-target-inactive: rgba(255, 255, 255, 0.2);
